<div class="container">
  <h1><%= @list.name %></h1>
  <ul>
  <div class="card-container">
      <% @list.bookmarks.each do |bookmark| %>
    <div class="card">
        <li><h3><%= bookmark.movie.title %></h3></li>
        <img src=<%= bookmark.movie.poster_url %> width="200">
        <p class="overview"><%= bookmark.movie.overview %></p>
        <p class="comment"><%= bookmark.comment %></p>
        <button type="button" class="btn btn-light" justify="right"><%= link_to "Delete ðŸ—‘ï¸", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></button>
    </div>
      <% end %>
    </ul>
  <div>
</div>
<div class="footer">
<p><%= link_to "âž• Add a bookmark", new_list_bookmark_path(@list) %></p>
<p><%= link_to "ðŸ”™ Back to all lists", lists_path %></p>
</div>
